<ion-header>
  <ion-navbar color="anhembiColor" hideBackButton>
    <!-- Título -->
    <ion-title>Gerenciamento de Atividades Complementares</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="planFundo">
  <ion-grid>
    <!--div professor-->
    <div class="info">
      <ion-row justify-content-center>
        <!--utiliza 12 linhas de colunas-->
        <ion-col col-12>
          <ion-grid>
            <ion-row *ngFor="let item of professor|async" justify-content-center>
              <ion-col col-xl-3 col-sm-12>
                <ion-item class="ionItemUsuario" text-center>
                    <ion-icon name="person" color="black" class="tamIcon"></ion-icon>
                    <p class="usuario">{{item.nome}}</p>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-grid>
            <ion-row>

              <ion-col col-4>
                <ion-item>
                  <ion-label>SELECIONAR CURSO</ion-label>
                  <ion-select [(ngModel)]="selectCurso">
                    <ion-option value="CCO">Ciências da Computação</ion-option>
                    <ion-option value="SI">Sistemas de Informação</ion-option>
                  </ion-select>
                </ion-item>
              </ion-col>
              <ion-col col-4>
                <button ion-button color="anhembiColor" (click)="buscaAlunoCurso()">Buscar</button>
              </ion-col>
            </ion-row>
          </ion-grid>

        </ion-col>
      </ion-row>

      <ion-grid>
          <ion-row>
            <ion-col col-xl-8 col-sm-12>

              <ion-item color="anhembiColor">
                <ion-row>
                  <p class="text">Listagem de Alunos</p>
                </ion-row>
              </ion-item>

              <ion-row style="border-bottom: groove;">
                <ion-col col-lg-8>
                  <ion-label>Aluno</ion-label>
                </ion-col>
                <ion-col col-lg-4>
                  <ion-label>Ra</ion-label>
                </ion-col>
              </ion-row>

              <ion-list *ngFor="let alunos of aluno | async ">
                <ion-row  style="border-bottom: groove;">
                  <ion-col col-lg-8>
                    <p class="text">{{alunos.nome}}</p>
                  </ion-col>
                  <ion-col col-lg-4>
                    <p class="text">{{alunos.ra}}</p>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-col>

            <ion-col col-xl-4 col-sm-12>
              <ion-item color="anhembiColor">
                <ion-row>
                  <p class="text">Listagem de Certificados </p>
                </ion-row>
              </ion-item>
            </ion-col>
          </ion-row>

        </ion-grid>
    </div>
  </ion-grid>
</ion-content>
