<ion-header>
  <ion-navbar color="anhembiColor" hideBackButton>
    <!-- Título -->
    <ion-title>Gerenciamento de Atividades Complementares</ion-title>
    <ion-buttons end>
      <button ion-button icon-only title="Sair" (click)="logoutProf()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="planFundo">
  <ion-grid>
    <div class="info">
      <ion-grid>
        <!--Menu Professor-->
        <ion-row *ngFor="let item of professor|async" justify-content-center>
          <ion-col col-xl-3 col-sm-12>
            <ion-item class="ionItemUsuario" text-center>
              <ion-icon name="person" color="black" class="tamIcon"></ion-icon>
              <p class="usuario">{{item.nome}}</p>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row justify-content-end>
          <ion-col col-xl-3 col-sm-12>
            <ion-item>
              <ion-select (ionChange)="buscaAlunoCurso()" placeholder="Curso:" okText="Buscar" class="inputCurso">
                <ion-option (ionSelect)="optCurso('CCO')">Ciências da Computação</ion-option>
                <ion-option (ionSelect)="optCurso('SI')">Sistemas da Informação</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
            <!-- DIV ALUNOS -->
            <ion-col col-xl-4 col-sm-12>
              <ion-row>
                  <ion-col col-12>
                    <ion-item color="anhembiColor">
                      <ion-row justify-content-center>
                        <p class="textWeb">RELAÇÃO DE ALUNOS</p>
                      </ion-row>
                    </ion-item>
                  </ion-col>
              </ion-row>

              <ion-list radio-group>
                  <ion-item *ngFor="let alunos of aluno | async">
                      <ion-radio (ionSelect)="mudaCor()" [color]="cor" (click)="getCertificado(alunos.ra)"></ion-radio>
                      <ion-label><p class="textWeb">{{alunos.ra}} - {{alunos.nome}}</p></ion-label>
                  </ion-item>
              </ion-list>
            </ion-col>

          <!-- DIV CERTIFICADOS -->
          <ion-col col-xl-4 col-sm-12>
            <ion-row>
                <ion-col col-lg-12>
                  <ion-item color="anhembiColor">
                    <p class="textWeb" text-center>CERTIFICADOS ENVIADOS</p>
                  </ion-item>
              </ion-col>
            </ion-row>


          <!--LISTAGEM DOS CERTIFICADOS-->
          <ion-list radio-group>
              <ion-item *ngFor="let certificados of certificado | async">
                <ion-radio (ionSelect)="mudaCor()" [color]="cor" (click)="buscaCertificadoExp(certificados.key)"></ion-radio>
                <ion-label>
                  <ion-row>
                    <div *ngIf="certificados.status == 'pendente', then histPendente"></div>
                    <div *ngIf="certificados.status == 'validado', then histValidado"></div>
                    <div *ngIf="certificados.status == 'recusado', then histRecusado"></div>
                    <ng-template #histPendente>
                      <ion-icon title="Pendente" class="ion-md-alert"></ion-icon>
                    </ng-template>
                    <ng-template #histValidado>
                      <ion-icon title="Validado" class="ion-md-checkmark-circle"></ion-icon>
                    </ng-template>
                    <ng-template #histRecusado>
                      <ion-icon title="Recusado" class="ion-md-close-circle"></ion-icon>
                    </ng-template>
                    <p class="textWeb">&nbsp;{{certificados.categoria}}</p>
                  </ion-row>
                </ion-label>
              </ion-item>
           </ion-list>
          </ion-col>


      <!-- DIV MANIPULACAO DE CERTIFICADOS -->
          <ion-col col-xl-4 col-sm-12>
              <ion-row>
                  <ion-col col-lg-12>
                    <ion-item color="anhembiColor">
                      <p class="textWeb" text-center>VALIDAÇÃO</p>
                    </ion-item>
                </ion-col>
              </ion-row>

              <ion-list>
                <ion-item *ngFor="let certificado of certVal | async ">
                    <ion-row>
                      <div *ngIf="certificado.status == 'pendente', then maniPendente"></div>
                        <ng-template #maniPendente>
                          <ion-row>
                            <ion-col col-12>
                              <ion-item>
                               <ion-input type="number" min="1" max="99999" [(ngModel)]="horas" placeholder="Horas:">
                               </ion-input>
                              </ion-item>
                             </ion-col>
                          </ion-row>

                          <ion-col col-12>
                            <ion-row>
                              <ion-item>
                              <ion-textarea rows="5" placeholder="Observação" [(ngModel)]="msgObs" >
                              </ion-textarea>
                              </ion-item>
                            </ion-row>
                          </ion-col>

                          <!-- Ações do Certificado -->
                          <ion-col col-12>
                            <ion-row justify-content-initial>
                              <!-- Versão Web -->
                              <img src="../assets/pdf.ico" class="tamIconPDF" (click)="openPDF(certificado.url)" showWhen="landscape"/>
                              <!-- Versão Mobile -->
                              <img src="../assets/pdf.ico" class="tamIconPDFMobile" (click)="openPDF(certificado.url)" showWhen="android,ios"/>
                              <p class="textWeb">&nbsp; Data de Envio: &nbsp;</p>
                            </ion-row>

                            <ion-row justify-content-end>
                                <button ion-button color="anhembiColor" (click)="validaCert(certificado.key)">Validar</button>
                                <button ion-button color="danger"(click)="recusaCert(certificado.key)">Recusar</button>
                            </ion-row>
                          </ion-col>
                        </ng-template>

                        <!-- Certificados Aprovados -->
                        <div *ngIf="certificado.status == 'validado', then infoValidado"></div>
                        <ng-template #infoValidado>
                            <!-- Versão Mobile -->
                            <ion-col showWhen="android,ios">
                              <ion-item>
                               <ion-row justify-content-between>
                                 <ion-col col-4>
                                  <img src="../assets/pdf.ico" class="tamIconPDFMobile" (click)="openMobPDF(certificado.url)"/>
                                 </ion-col>
                                <p class="textWeb">{{certificado.horasValidadas}}&nbsp;Horas validadas</p>
                              </ion-row>
                              </ion-item>
                            </ion-col>
                        </ng-template>

                        <div *ngIf="certificado.status == 'recusado', then infoRecusado"></div>
                        <ng-template #infoRecusado>
                            <!-- Versão Mobile -->
                            <ion-col showWhen="android,ios">
                                <ion-item>
                                 <ion-row justify-content-between>
                                   <ion-col col-4>
                                    <img src="../assets/pdf.ico" class="tamIconPDFMobile" (click)="openMobPDF(certificado.url)"/>
                                   </ion-col>
                                  <p class="textWeb">Horas Recusadas</p>
                                </ion-row>
                                </ion-item>
                              </ion-col>
                        </ng-template>
                  </ion-row>
                </ion-item>
              </ion-list>
          </ion-col>
        </ion-row>
       </ion-grid>
    </div>
  </ion-grid>
</ion-content>
