page-professor {
  .ion-md-alert{
    color: yellow !important;
    background-color: black;
  }
  .ion-ios-alert{
    color: yellow !important;
    background-color: black;

  }
  .ion-md-close-circle{
    color: red !important;
    background-color: black;
  }
  .ion-ios-close-circle{
    color: red !important;
    background-color: black;

  }
}
