<ion-header>
  <ion-navbar color="anhembiColor" hideBackButton>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- Título -->
    <ion-title>Minha Área</ion-title>
    <!-- Sair -->
    <ion-buttons end>
      <button ion-button icon-only title="Sair" (click)="logoutAluno()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="planFundo">
<ion-grid>
  <ion-row justify-content-center>
    <!-- Utiliza 12 Linhas de Colunas -->
    <ion-col col-12>
      <!-- Div Aluno -->
        <div class="info">
          <ion-grid>
            <ion-row *ngFor="let item of aluno|async" justify-content-center>
              <ion-col col-xl-3 col-sm-12>
                <ion-item class="ionItemUsuario" text-center>
                    <ion-icon name="person" color="black" class="tamIcon"></ion-icon>
                    <p class="usuario">{{item.nome}}</p>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-xl-6 col-sm-12>
                <ion-item *ngFor="let item of aluno|async">
                    <p class="subTitulo">Registro Acadêmico</p>
                    {{item.ra}}
                </ion-item>
              </ion-col>

              <ion-col col-xl-6 col-sm-12>
                <ion-item *ngFor="let item of aluno|async">
                  <p class="subTitulo">Curso</p>
                  {{item.curso}}
                </ion-item>
              </ion-col>
              <ion-col col-xl-6 col-sm-12>
                <ion-item *ngFor="let item of aluno|async">
                  <p class="subTitulo">Semestre de Admissão</p>
                  {{item.semestre}}
                </ion-item>
              </ion-col>
              <ion-col col-xl-6 col-sm-12>
                <ion-item *ngFor="let item of aluno|async">
                  <p class="subTitulo">E-mail Institucional</p>
                  {{item.email}}
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col col-12>
                  <ion-item *ngFor="let item of aluno|async">
                    <div class="tabelaHoras">
                      <ion-row justify-content-center>
                          <p class="textTitle">Tabela de Horas</p>
                      </ion-row>
                      <ion-row justify-content-between>
                          <ion-col col-xl-4 col-xs-12>
                            <p class="textHoras" text-center>Horas Validadas: {{soma}}</p>
                          </ion-col>
                          <ion-col col-xl-4 col-xs-12>
                            <p class="textHoras" text-center>Concluido: {{((soma / item.horasTotais )*100).toPrecision(2)}}%</p>
                          </ion-col>
                          <ion-col col-xl-4 col-xs-12>
                            <p class="textHoras" text-center>Horas Requeridas: {{item.horasTotais}}</p>
                          </ion-col>
                      </ion-row>
                      </div>
                  </ion-item>
              </ion-col>
            </ion-row>

            <!-- Executa apenas nos dispositivos móveis -->
            <ion-row justify-content-start showWhen="android,ios">
              <ion-col col-lg-2>
                <ion-item button (click)="openMobPDF('Regulamento')" color=".corDoc" text-center>
                  <img src="../assets/pdf.ico" class="tamIconPDF"/><p class="textFile">Regulamento</p>
                </ion-item>
              </ion-col>
              <ion-col col-lg-2>
               <ion-item button (click)="openMobPDF('Manual')" color=".corDoc" text-center>
                <img src="../assets/pdf.ico" class="tamIconPDF"/><p class="textFile">Manual</p>
                </ion-item>
              </ion-col>
            </ion-row>

            <!-- Executar na WEB -->
            <ion-row justify-content-end showWhen="landscape">
              <ion-col col-lg-1>
                <ion-item button (click)="openPDF('Regulamento')" color=".corDoc" text-center>
                  <img src="../assets/pdf.ico" class="tamIconPDF"/><p class="textFile">Regulamento</p>
                </ion-item>
              </ion-col>
              <ion-col col-lg-1>
               <ion-item button (click)="openPDF('Manual')" color=".corDoc" text-center>
                  <img src="../assets/pdf.ico" class="tamIconPDF"/><p class="textFile">Manual</p>
               </ion-item>
              </ion-col>
            </ion-row>

            <ion-row justify-content-start>
                <ion-col col-12>
                    <!-- Div Informações de Cadastro dos Certificados -->
                    <div class="infoCadAtiv">
                      <p class="infoCadAtiv">Prezado(a) Estudante,</p>
                      <p class="infoCadAtiv">a) Atente-se ao cadastro das atividades complementares
                      dividindo-as como INSTITUCIONAIS ou como AREA / CURSO, conforme regulamento do seu curso,
                      para evitar indeferimentos pelo docente aprovador.</p>
                      <p class="infoCadAtiv">b) Caso seja identificada fraude/duplicidade na documentação apresentada
                      como comprovante das horas / atividades, as mesmas poderão ser canceladas a qualquer tempo e
                      sem aviso prévio.</p>
                    </div>
                </ion-col>
             </ion-row>
          </ion-grid>
        </div>
    </ion-col>
   </ion-row>
  </ion-grid>
</ion-content>
