 <!-- Menu Aluno -->
 <ion-menu [content]="content" id="menuAluno" persistent="true" enabled="true">
  <ion-header>
    <ion-toolbar color="anhembiColor">
      <!-- Logo -->
      <img src="../assets/logo.png"/>
    </ion-toolbar>

    <p class="titleMenuWeb">Grupos</p>
  </ion-header>

  <ion-content >
    <!-- Menu Mobile-->
    <ion-list showWhen="android,ios">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <p class="menuMobile">{{p.title}}</p>
      </button>
    </ion-list>

    <!-- Menu Browser-->
    <ion-list showWhen="landscape">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <p class="textWebMenu">{{p.title}}</p>
      </button>
    </ion-list>
</ion-content>

  <!-- Rodapé do Menu -->
  <ion-footer>
    <ion-toolbar color="anhembiColor">
      <ion-grid>
          <ion-row>
            <!-- Descrição Laureate -->
            <p class="rodape">© Laureate Education, Inc.</p>
          </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
