 /*Div Informações Globais*/
 div.info{
  padding-left: 1%;
  padding-right: 1%;
  background-color:	#F8F8F8;
  border-radius: 10px;
  opacity: 0.9;
  }

  /*Plano de Fundo*/
 .planFundo{
  background-image: url(../assets/back.jpg);
  background-repeat: no-repeat;
  background-size:cover;
 }

/*Plano de Fundo Login*/
  .planFundoLogin{
    background-image: url(../assets/login.png);
    background-repeat: no-repeat;
    background-size:cover;
  }

  /*Div do Histórico dos Certificados*/
  div.historicoCertificado{
    padding-top: 0.2cm;
    padding-block-end: 0.2cm;
    background-color:	#F8F8F8;
  }

  /*Plano de Fundo do ion-item usuário*/
  .ionItemUsuario{
    /*Cor Transparente*/
    background-color: rgba(0, 0, 0, 0);
  }
  /*Design Tabela de Horas*/
  .tabelaHoras{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: #f4f4f4;
    border: 4px solid #dcdcdc;
    color: #fff;
    border-radius: 10px;
    border-color: #01AB8E;
    padding-block-start: 2%;
  }

  /*Botão de histórico de certificados*/
  .btnHistCertificadoHome{
    position: absolute;
    bottom:0;
  }

  /*Cor de fundo dos documentos*/
  .corDoc{
  background-color:	#f4f4f4;
  opacity:0.9;
  }

  /*Cor do formulário do login*/
  .corForm{
  background-color: #1E90FF;
  }

  //Menu Web
  p.textWebMenu{
    font-size:16px;
    font-weight: bold;
  }

  //Manual/Regulamento Web/Mobile
  p.textFile{
    font-size:10px;
    font-weight: bold;
  }

  //Title Menu Grupo Web
  p.titleMenuWeb{
    font-size:16px;
    font-weight:bold;
    color: #01AB8E;
    text-align:center;
  }

  //Texto Web
  p.textWeb{
    font-size:14px;
    font-weight: bold;
  }

  //Titulo Web
  p.textTitle{
    font-size:20px;
    font-weight: bold;
    padding-block-end: 2%;
  }

  /*Estilização do nome do usuário*/
  p.usuario{
    font-size:18px;
    font-weight: bold;
    color: #000000;
  }

  //Texto Modelo Título Mobile
  p.title{
    font-size:20px;
    font-weight: bold;
    color: #FFFFFF;
  }

  //Texto Modelo Título Mobile
  p.titleMobile{
    font-size:16px;
    font-weight: bold;
    color:#FFFFFF;
  }

  //Mobile Menu Texto
  p.menuMobile{
    font-size:14px;
    font-weight: bold;
  }

  //Mobile Texto
  p.textMobile{
    font-size:13px;
    font-weight: bold;
  }

  /*Estilização de Horas*/
  p.textHoras{
    font-size:16px;
    font-weight: bold;
    color:#01AB8E;
  }

  /*Estilo do Rodapé do Menu*/
  p.rodape{
  color:#FFFFFF;
  text-align: left;
  font-style: oblique;
  }

  /*Estilo do Rodapé do Menu no Login*/
  p.rodape{
  color:#FFFFFF;
  text-align: end;
  font-style: oblique;
  }

  /*Estilização de titulos*/
  p.subTitulo{
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  }

  /*Estilização do texto aluno*/
  p.textAluno{
    font-size:16px;
    font-weight: bold;
  }

  /*Estilização do texto login Mobile*/
  p.textLoginMob{
    font-size:14px;
    font-weight: bold;
    text-align: left;
    color:#FFFFFF;
    padding-block-start: 2%;
    padding-block-end: 10%;
  }

  /*Estilização do texto login Web*/
  p.textLoginWeb{
    font-size:16px;
    font-weight: bold;
    text-align: left;
    color:#FFFFFF;
    padding-block-start: 2%;
    padding-block-end: 10%;
  }


  /*Estilização da fonte das atividades*/
  p.tableAtiv{
    font-size:12px;
    font-weight: bold;
  }


  /*Estilização do icone do Aluno*/
  .tamIcon{
    font-size:5.0em;
    color:#01AB8E;
  }

  /*Estilização do icone do PDF*/
  .tamIconPDF{
    width:10%;
    height:2%;
  }

  /*Estilização do icone do PDF*/
  .tamIconPDFMobile{
    width: 15%;
    height:4%;
  }

  /*Estilização do icone da Situação Certificado*/
  .situacaoIcon{
    font-size:3.0em;
    text-align: end;
  }


  /*Estilização do texto das informações para o Aluno*/
  p.infoCadAtiv{
    font-size:12px;
    font-style: oblique;
    font-weight: bold;
  }

  //Deixa caixa de filtro do curso verde
  .inputCurso{
    color:#01AB8E;
  }

  textarea{
    -moz-user-select: text;
    -webkit-user-select: texto;
    -ms-user-select: texto;
     border: solid 1px #01AB8E;
  }

  /*ícones*/
  .ion-md-checkmark-circle{
    color: #01AB8E !important;
    font-size:1.5em;
  }

  .ion-md-chatbubbles{
    color:#CDC9A5;
    font-size:1.5em;
  }
  .ion-md-alert{
    color: yellow !important;
    font-size:1.5em;
  }
  .ion-ios-alert{
    color: yellow !important;
    font-size:1.5em;
  }
  .ion-md-close-circle{
    color: red !important;
    font-size:1.5em;
  }
  .ion-ios-close-circle{
    color: red !important;
    font-size:1.5em;
  }
